h1{
    color: orange;
    background-color: aqua;
    font-size: smaller;
    font-style: italic;
    font-family: monospace;
    text-align: center;
    text-decoration: underline;
    text-shadow: 10px 13px blue;
}
a{
    text-decoration: none;
}